<div class="card hoverable ">
   <div class="card-content">
      <span class="card-title">Latest Article</span>
      <% @articles.each do |article| %>
      <li><%= link_to article.title,article %> posted at <cite><%= article.created_at.strftime('%a %b %d ') %></cite></li>
      <%end%>  
    </div>
    <div class="card-action">
       <a href="#">This is a link</a>
  
    </div>
</div>