<div class="card hoverable">
   <div class="card-content">
      <span class="card-title">Latest JOBS</span>
      <% @jobs.each do |job| %>
      <li><%= link_to job.title,job %> posted at <cite><%= job.created_at.strftime('%a %b %d ') %></cite></li>
      <%end%>  
    </div>
    <div class="card-action">
       <a href="#">This is a link</a>
   
    </div>
</div>